* {
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

header{
    text-align: center;
}

.drumKit{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}